POSTGRES_USERNAME={{ username_db }}
POSTGRES_PASSWORD={{ password_db }}
POSTGRES_DB={{ name_db }}
POSTGRES_HOST=188.226.168.34
secret_key_base={{ secret_key_base }}
google_key_api={{ google_key_api }}
fb_client_id={{ fb_id }}
fb_client_secret={{ fb_secret }}
google_client_id={{ google_id }}
google_client_secret={{ google_secret }}
apple_client_id={{ apple_client_id }}
apple_client_id_native={{ apple_client_id_native }}
apple_key_id={{ apple_key_id }}
apple_team_id={{ apple_team_id }}
apple_private_key={{ apple_private_key }}
aws_access_key_id={{ aws_id }}
aws_secret_access_key={{ aws_secret }}
fcmex_server_key={{ fcm_secret }}
shuttertop_api_key={{ api_key }}
guardian_secret={{ guardian_secret }}
live_view_secret={{ live_view_secret }}
smtp_username={{ smtp_username }}
smtp_password={{ smtp_password }}
min_android_version=2
min_ios_version=1
