<!DOCTYPE html>
<html lang={ locale() }>
  <%= render "head.html", assigns %>
  <body id={ assigns[:body_id] }>
    <%= render "navbar.html", assigns %>
    <main class="content-container">
      <%= @inner_content %>
      <div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body"></div>
          </div>
        </div>
      </div>
    </main>
    <%= render "footer.html", assigns %>
  </body>
</html>
