<div class="store-btns">
    <a href='https://play.google.com/store/apps/details?id=com.shuttertop.android' target="_blank" rel="noopener">
        <%= img_tag("/images/googleplay_badge_#{Gettext.get_locale(ShuttertopWeb.Gettext)}.svg", alt: "Play store") %>
    </a>
    <a href='https://apps.apple.com/it/app/shuttertop/id1409758044' target="_blank" rel="noopener">
        <%= img_tag("/images/appstore_badge_#{Gettext.get_locale(ShuttertopWeb.Gettext)}.svg", alt: "App store") %>
    </a>
</div>
