//$body-color: var(--bodyColor);
//$body-bg: var(--bodyBg) !default; // #f5f5f5 !default;
$border-color: var(--bodyColor);
$navbar-bg: var(--navbarBg);
$font-family-sans-serif: Inter, "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica", sans-serif;
$font-family-title: "Metropolis Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica", sans-serif;
$brand-primary: var(--primaryColor); //#E91E63; // #E91E63; //#FF5252; //#f44336; // ;
$brand-primary-light: var(--brandPrimaryLight) !default;
$input-border-focus: var(--input-border-focus);
$link-color: var(--linkColor);
$btn-secondary-color: #666 !default;
$secondary-text-color: var(--secondaryTextColor);
$link-hover-color: var(--linkColorHover) !default;
$link-hover-decoration: none !default;
$time-left-color: #dd0313;
$shadow: var(--shadow);
$shadow-sm: var(--shadow-sm);
$shadow-md: var(--shadow-md);
$shadow-fields: var(--shadow-fields);

$navbar-light-color: var(--linkColor);
$navbar-light-active-color: var(--navbarLightActiveColor) !important;
$navbar-light-hover-color: var(--navbarLightActiveColor);
$grid-gutter-width: 16px !default;
$gradient: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
$gradient-contest: linear-gradient(0deg, #242526, #444546);
$frame-back: var(--frameBack);
$frame-back-hover: var(--frameBackHover);
$btn-frame-back-hover: var(--btnFrameBackHover);
$btn-frame-back: var(--btnFrameBack);
$hover-bg: rgba(0, 0, 0, .02) !default;
$table-hover-bg: $hover-bg;
$gray-dark: #333;
$gray-light: #f8f9fa;
$state-success-bg: #dff0d8 !default;
$state-danger-bg: #f2dede !default;
$gold-color: #F57F17;
$heart-color: #f44;

$max-width: 1140px;
