<%= gettext("Ciao %{username}", username: @username) %>,

<%= gettext("Grazie per la registrazione! Siamo felici di averti a bordo. Per favore clicca il bottone qui sotto per confermare il tuo account") %>

<%= @url %><<%= @url %>>  
