<div class="edit-contest-container container">
	<div class="row">
    	<div class="col-lg-8 col-sm-11 col-12 mx-auto page-content">
    		<div class="card ">
    			<div class="card-header">
			    	<h1><%= @page_title %></h1>
			    </div>
			    <div class="card-body">
				    <%= render "form.html", assigns %>
				</div>
			</div>
		</div>
	</div>
</div>
